<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SymuSysDynApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <SymuSysDynApp.Properties.Settings>
            <setting name="SyncFusionKey" serializeAs="String">
                <value>MzMzNzc2QDMxMzgyZTMzMmUzMERDYWRVaDJOSUhHeDdoOFhnb0Y3NWhhM3MyRHRpZmVVRVJpbEtyYkJNdEk9</value>
            </setting>
            <setting name="Paramètre1" serializeAs="String">
                <value />
            </setting>
        </SymuSysDynApp.Properties.Settings>
    </applicationSettings>
</configuration>